.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.violet {
    background-color: violet;
}

.purple {
    background-color: purple;
}

.bold {
    font-weight: bold;
}